.button {
    -fx-font-size: 12px; /* font size */
    -fx-font-weight: Bold;
    -fx-text-fill: black; /* text color */
    -fx-background-color: white; /* background color */
    -fx-border-color: #bbbbbb; /* blue border color */
    -fx-border-width: 1px; /* border thickness */
    -fx-cursor: hand; /* cursor style */
}
.button:hover {
    -fx-background-color: #f5f5ff; /* Change background color on hover */
    -fx-border-color: #91a7ff; /* blue border color */
    -fx-border-width: 2px;
}
