.button {
    -fx-font-size: 12px;
    -fx-font-weight: Bold;
    -fx-text-fill: white; /* Dark mode text color */
    -fx-background-color: #333333; /* Dark background */
    -fx-border-color: #444444; /* Dark border */
    -fx-border-width: 1px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #555555;
    -fx-border-color: #666666;
    -fx-border-width: 2px;
}

.sheet-grid-pane {
    -fx-margin: 5px;
    -fx-background-color: #333333; /* Dark background */
}

.scroll-pane .scroll-bar .track-background {
    -fx-background-color: #444444;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #666666;
    -fx-cursor: hand;
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #777777;
}

.scroll-pane:fitToWidth:fitToHeight .corner {
    -fx-background-color: #444444;
}

.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: #555555;
}

.scroll-pane:fitToWidth:fitToHeight .scroll-bar .decrement-button .decrement-arrow,
.scroll-pane:fitToWidth:fitToHeight .scroll-bar .increment-button .increment-arrow {
    -fx-background-color: #333333;
}
